<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maritree.authority.buss.mapper.GroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maritree.authority.buss.entity.Group">
        <id column="id" property="id"/>
        <result column="group_code" property="groupCode"/>
        <result column="group_name" property="groupName"/>
        <result column="parent_id" property="parentId"/>
        <result column="area_id" property="areaId"/>
        <result column="group_path" property="groupPath"/>
        <result column="group_type" property="groupType"/>
        <result column="sort_id" property="sortId"/>
        <result column="group_short_name" property="groupShortName"/>
        <result column="group_phone" property="groupPhone"/>
        <result column="group_fax" property="groupFax"/>
        <result column="group_address" property="groupAddress"/>
        <result column="group_level" property="groupLevel"/>
        <result column="project_code" property="projectCode"/>
        <result column="undeletable_flag" property="undeletableFlag"/>
        <result column="comments" property="comments"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

</mapper>
