<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maritree.authority.buss.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maritree.authority.buss.entity.Resource">
        <id column="id" property="id"/>
        <result column="resource_code" property="resourceCode"/>
        <result column="resource_path" property="resourcePath"/>
        <result column="route_path" property="routePath"/>
        <result column="route_hidden" property="routeHidden"/>
        <result column="resource_name" property="resourceName"/>
        <result column="parent_id" property="parentId"/>
        <result column="menu_flag" property="menuFlag"/>
        <result column="resource_type" property="resourceType"/>
        <result column="request_url" property="requestUrl"/>
        <result column="request_type" property="requestType"/>
        <result column="access_level" property="accessLevel"/>
        <result column="html_element" property="htmlElement"/>
        <result column="resource_value" property="resourceValue"/>
        <result column="authentication_type" property="authenticationType"/>
        <result column="sort_id" property="sortId"/>
        <result column="show_flag" property="showFlag"/>
        <result column="icon_class" property="iconClass"/>
        <result column="undeletable_flag" property="undeletableFlag"/>
        <result column="comments" property="comments"/>
        <result column="project_code" property="projectCode"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

</mapper>
